/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");

html {
  scroll-behavior: smooth;
  background-color: gray;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

div#main {
  display: flex;
  flex-direction: column;
}

section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 100vh;
}

section.padding {
  padding: 5rem 0;
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

h1 {
  font-family: system-ui;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
  color: white;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
  color: sandybrown;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
  color:sandybrown;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: auto;
}

hr {
  margin: 2.5rem;
}
ul{
  text-align: left;
  columns: 2;
  font-size: 1.25rem;
  margin: "2rem 3rem";
  gap: "3rem";
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 330px 300px;
  margin: 20px auto;
}

.container .box {
  border-radius: 10px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  text-align: center;
  background-color: white;
}

img.socialIcon {
  height: 30px;
  width: 30px;
}
.image-top {
  height: 100%;
  max-width: 40%;
  border-radius: 10px;
  margin-right: 20px;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding: 24px 16px;
}
.inner{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 10px;
  margin: 20px auto;
}
.box {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  background-color: white;
}

@media (max-width: 768px) {
  ul{
    columns: 1;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .inner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .image-top {
    max-width: 100%;
    box-sizing: border-box;
  }
}
